body {
  background-color: white;
}

#city-col {
  background-color: #393226;
}

#input-div {
  margin:8px 0px 18px 0px;
}

#city-input {
  line-height:44px;
  font-size: 22px;
}

#city-submit {
  background-color: #b3c4c1;
  font-size: 24px;
}

.city-div {
  height: 50px;
  background-color: #b3c4c1;
  border: 4px solid white;
  border-radius: .75rem;
  font-size: 28px;
  line-height: 42px;
  padding: 0px 12px;
  margin: 6px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-div:hover {
  cursor: pointer;
}

#city-header {
  background-color: #b3c4c1;
}

#current-bg {
  border-radius: .75rem;
  box-shadow: 0px 26px 10px -16px #666666;
}

.carousel-inner {
  border-radius: .75rem;
  box-shadow: 0px 26px 10px -16px #666666;
}

.image-text {
  font-size: 16px;
  font-weight: bold;
}